
; This file allows you to download the Flowable Form dependencies from the Flowable NPM repository.
; If you want to change the frontend, you have to update the username and password below to the credentials provided to you prio to the course.

registry=https://flowable.jfrog.io/artifactory/api/npm/npm-all/
@flowable:registry=https://artifacts.flowable.com/artifactory/api/npm/flowable-npm-all/
//flowable.jfrog.io/artifactory/api/npm/flowable-npm-all/:_password=        <<<<<<<<<<<<<<<PASSWORD>>>>>>>>>>>>>>
//flowable.jfrog.io/artifactory/api/npm/flowable-npm-all/:username=         <<<<<<<<<<<<<<<tra-xxx-bot>>>>>>>>>>>>>>
//flowable.jfrog.io/artifactory/api/npm/flowable-npm-all/:email=student@flowable.com
//flowable.jfrog.io/artifactory/api/npm/flowable-npm-all/:always-auth=true
registry=https://registry.npmjs.org