{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 200,
  "tabWidth": 2,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "jsxBracketSameLine": true,
  "quoteProps": "consistent"
}